<div class="container-fluid line-1 mb-3 pad-is-hidden desk-is-hidden">
  <div class="row justify-content-between no-gutters">
    <a class="navbar-brand">
      <img src="assets/images/logo_kedan.png" class="d-inline-block align-top img-logo" alt="">
    </a>
    <div class="d-flex col-6 col-md-4 justify-content-end align-items-center">
      <a (click)="goToListOrder()" class="navbar-brand m-0 cart-s">
        <img src="assets/images/order-cart.png" class="d-inline-block align-top img-cart" alt="">
        <span class="badge">{{ cart }}</span>
      </a>
    </div>
  </div>
</div>


<mat-tab-group class=" pad-is-hidden desk-is-hidden" #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">dinner_dining</mat-icon>
      Makanan
    </ng-template>
    <div class="p-2 page bg-black">
      <app-makanan (someEvent)="getBadge($event)"></app-makanan>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">coffee</mat-icon>
      Minuman
    </ng-template>
    <div class="p-2 page bg-black">
      <app-minuman (someEvent)="getBadge($event)"></app-minuman>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">playlist_add_check</mat-icon>
      Pesanan
    </ng-template>
    <div class="p-2 page bg-white h-100">
      <app-pesanan #child (someEvent)="getBadge($event)"></app-pesanan>
    </div>
  </mat-tab>
</mat-tab-group>


<div class="container-fluid h-100 mobile-is-hidden">
  <div class="row justify-content-center align-items-center text-center row-1">

    <div class="card card-warning" style="width: 20rem;">
      <div class="card-body">
        <img class="card-img-top" src="assets/images/logo_kedan.png" alt="Card image cap">
        <h5 class="card-title">Hi! Kedan...</h5>
        <p class="card-text">Aplikasi pemesanan ini hanya tersedia dalam ukuran mobile, jika anda ingin memakai browser
          melalui Desktop atau Pad silahkan kecilkan ukuran browser anda.
        </p>
      </div>
    </div>

  </div>
</div>
