<div class="container-fluid mt-4 p-0">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 slide" src="assets/images/iklan_1.jpg" alt="First slide">
      </div>
      <!-- <div class="carousel-item">
        <img class="d-block w-100 slide" src="assets/images/iklan_2.jpg" alt="Second slide">
      </div> -->
      <div class="carousel-item">
        <img class="d-block w-100 slide" src="assets/images/iklan_3.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div>
    <p class="h6 my-2 text-left">Makanan Agak Ringan</p>
    <div class="card card-m">
      <div *ngFor="let item of makanan_agak_ringan">
        <div (click)="choose(item)" class="row card-r m-0 mb-1">
          <div class="row no-gutters">
            <div class="col-4">
              <img class="card-img img-dish" [src]="getDataImage(item.avatar)" alt="Suresh Dasari Card">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body p-0 pl-5 py-2">
                <h6 class="card-title mb-1 text-left">{{ item.name }}</h6>
                <p class="card-text small mb-1 text-left">{{ item.desc }}</p>
                <div class="col d-flex p-0">
                  <h5 class="mb-1">{{ item.harga | shortNumber }}</h5>
                  <div class="qty">
                    <!-- <span class="minus bg-dark">-</span>
                    <input type="number" class="count" name="qty" value="0">
                    <span class="plus bg-dark">+</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="h6 my-2 text-left">Makanan Agak Berat</p>
    <div class="card card-m">
      <div *ngFor="let item of makanan_agak_berat">
        <div (click)="choose(item)" class="row card-r m-0 mb-1">
          <div class="row no-gutters">
            <div class="col-4">
              <img class="card-img img-dish" [src]="getDataImage(item.avatar)" alt="Suresh Dasari Card">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body p-0 pl-5 py-2">
                <h6 class="card-title mb-1 text-left">{{ item.name }}</h6>
                <p class="card-text small mb-1 text-left">{{ item.desc }}</p>
                <div class="col d-flex p-0">
                  <h5 class="mb-1">{{ item.harga | shortNumber }}</h5>
                  <div class="qty">
                    <!-- <span class="minus bg-dark">-</span>
                    <input type="number" class="count" name="qty" value="0">
                    <span class="plus bg-dark">+</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="h6 my-2 text-left">Indomie</p>
    <div class="card card-m">
      <div *ngFor="let item of indomie">
        <div (click)="choose(item)" class="row card-r m-0 mb-1">
          <div class="row no-gutters">
            <div class="col-4">
              <img class="card-img img-dish" [src]="getDataImage(item.avatar)" alt="Suresh Dasari Card">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body p-0 pl-5 py-2">
                <h6 class="card-title mb-1 text-left">{{ item.name }}</h6>
                <p class="card-text small mb-1 text-left">{{ item.desc }}</p>
                <div class="col d-flex p-0">
                  <h5 class="mb-1">{{ item.harga | shortNumber }}</h5>
                  <div class="qty">
                    <!-- <span class="minus bg-dark">-</span>
                    <input type="number" class="count" name="qty" value="0">
                    <span class="plus bg-dark">+</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="h6 my-2 text-left">Nasi Goreng</p>
    <div class="card card-m">
      <div *ngFor="let item of nasigoreng">
        <div (click)="choose(item)" class="row card-r m-0 mb-1">
          <div class="row no-gutters">
            <div class="col-4">
              <img class="card-img img-dish" [src]="getDataImage(item.avatar)" alt="Suresh Dasari Card">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body p-0 pl-5 py-2">
                <h6 class="card-title mb-1 text-left">{{ item.name }}</h6>
                <p class="card-text small mb-1 text-left">{{ item.desc }}</p>
                <div class="col d-flex p-0">
                  <h5 class="mb-1">{{ item.harga | shortNumber }}</h5>
                  <div class="qty">
                    <!-- <span class="minus bg-dark">-</span>
                    <input type="number" class="count" name="qty" value="0">
                    <span class="plus bg-dark">+</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="h6 my-2 text-left">Chicken Steak</p>
    <div class="card card-m">
      <div *ngFor="let item of chikensteak">
        <div (click)="choose(item)" class="row card-r m-0 mb-1">
          <div class="row no-gutters">
            <div class="col-4">
              <img class="card-img img-dish" [src]="getDataImage(item.avatar)" alt="Suresh Dasari Card">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body p-0 pl-5 py-2">
                <h6 class="card-title mb-1 text-left">{{ item.name }}</h6>
                <p class="card-text small mb-1 text-left">{{ item.desc }}</p>
                <div class="col d-flex p-0">
                  <h5 class="mb-1">{{ item.harga | shortNumber }}</h5>
                  <div class="qty">
                    <!-- <span class="minus bg-dark">-</span>
                    <input type="number" class="count" name="qty" value="0">
                    <span class="plus bg-dark">+</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="h6 my-2 text-left">Soup</p>
    <div class="card card-m">
      <div *ngFor="let item of soup">
        <div (click)="choose(item)" class="row card-r m-0 mb-1">
          <div class="row no-gutters">
            <div class="col-4">
              <img class="card-img img-dish" [src]="getDataImage(item.avatar)" alt="Suresh Dasari Card">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body p-0 pl-5 py-2">
                <h6 class="card-title mb-1 text-left">{{ item.name }}</h6>
                <p class="card-text small mb-1 text-left">{{ item.desc }}</p>
                <div class="col d-flex p-0">
                  <h5 class="mb-1">{{ item.harga | shortNumber }}</h5>
                  <div class="qty">
                    <!-- <span class="minus bg-dark">-</span>
                    <input type="number" class="count" name="qty" value="0">
                    <span class="plus bg-dark">+</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="h6 my-2 text-left">Ayam Geprek</p>
    <div class="card card-m">
      <div *ngFor="let item of ayam_geprek">
        <div (click)="choose(item)" class="row card-r m-0 mb-1">
          <div class="row no-gutters">
            <div class="col-4">
              <img class="card-img img-dish" [src]="getDataImage(item.avatar)" alt="Suresh Dasari Card">
            </div>
            <div class="col-8 d-flex align-items-center">
              <div class="card-body p-0 pl-5 py-2">
                <h6 class="card-title mb-1 text-left">{{ item.name }}</h6>
                <p class="card-text small mb-1 text-left">{{ item.desc }}</p>
                <div class="col d-flex p-0">
                  <h5 class="mb-1">{{ item.harga | shortNumber }}</h5>
                  <div class="qty">
                    <!-- <span class="minus bg-dark">-</span>
                    <input type="number" class="count" name="qty" value="0">
                    <span class="plus bg-dark">+</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
