/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/svgs/bg_kedan.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f8e218;
  box-shadow: inset 0 0 6px #f8e218;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px #f8e218;
  box-shadow: inset 0 0 6px #f8e218;
}
