<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center text-center row-1">

    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <img data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="1000" class="card-img-top"
          src="assets/images/logo_kedan.png" alt="Card image cap">
        <h5 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" class="card-title">Hi! Kedan...</h5>
        <p data-aos="fade-up" data-aos-duration="2000" class="card-text">Yuk nikmati kopi dan camilan super lezat cuma
          di Kedan atau isi jargon resto juga boleh.
        </p>
        <button data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="1000" (click)="doOrder()" mat-button
          class="btn-pesan">Pesan
          Sekarang</button>
      </div>
    </div>

  </div>
</div>
